# -- ignore everything by default --------------------------------------
/*

# -- include these files -----------------------------------------------
!.gitignore
!README.md
!next-env.d.ts
!next.config.js
!package-lock.json
!package.json
!src/
!tsconfig.json
!vitest.config.ts
